body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    width: 100%;
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

#chat-box {
    height: 300px;
    overflow-y: scroll;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;

    display: flex;
    flex-direction: column;
}

.user-message {
    text-align: left;
    display: inline-block;
    margin-left: auto;
    margin-bottom: 10px;
    padding: 0.8em;
    background-color: #28a745;
    color: #eeeeee;
    border-radius: 16px;
    max-width: 60%;
    word-wrap: break-word;
}

.bot-message {
    text-align: left;
    display: inline-block;
    margin-right: auto;
    margin-bottom: 10px;
    padding: 0.8em;
    background-color: #dddddd;
    border-radius: 16px;
    max-width: 60%;
    word-wrap: break-word;
}

.input-container {
    display: flex;
    margin-top: 20px;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button {
    width: 15%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-left: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #3394fc;
}

button:active {
    background-color: #1960ac;
    color: white;
}

/* 新增的按鈕樣式 */
.extra-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.extra-buttons button {
    width: 48%;
    background-color: #28a745; /* Green for tarot button */
}

.extra-buttons button:hover {
    background-color: #27cd4d;
}

.extra-buttons button:active {
    background-color: #009322;
    color: white;
}

.extra-buttons button:last-child {
    background-color: #ffc107; /* Yellow for image button */
}

.extra-buttons button:last-child:hover {
    background-color: #ffd146;
    color: #444444;
}

.extra-buttons button:last-child:active {
    background-color: #bf8f00;
    color: white;
}

.message-content {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.bot-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

